---
layout: page
title: 2017
permalink: /review/2017
shortName: 2017
imageClass: trees
---

<section id="detail" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <h2>Not a lot to see just yet but check back soon.</h2>

          {% for post in site.categories.2017 reversed %}
            <h3>{{ post.title }}</h3>
            {{ post.content }}
          {% endfor %}

          <!-- <h2>Big things to come</h2>

          {% for post in site.categories.Future reversed %}
            <h3>{{ post.title }}</h3>
            {{ post.content }}
          {% endfor %} -->

        </div>
    </div>
</section>
