<div id="header" class="intro {{ page.imageClass}}">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">{{ page.title }}</h1>
                    {% if page.subtitle %}
                      <p class="intro-text">{{ page.subtitle }}</p>
                    {% endif %}
                    <a href="#detail" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
