<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include header.html %}

    {{ content }}

    <section id="donate" style="text-align:center;">
      <h3>Please help support my campaign for the American Foundation for Suicide Prevention.</h3>
      <iframe src="http://afsp.donordrive.com/index.cfm?fuseaction=widgets.300x250thermo&participantID=1001166" width="302" height="252" frameborder="0" scrolling="no"><a href="http://afsp.donordrive.com/index.cfm?fuseaction=donorDrive.participant&participantID=1001166">Make a Donation!</a></iframe>
    </div>

    {% include contact.html %}

    {% include footer.html %}

  </body>

</html>
