:root {
	--bg: #012030;
	--c1: #dafdba;
	--c2: #9aeba3;
	--c3: #45c4b0;
	--c4: #13678a;
	--white: #fff;
}

html {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	color: var(--white);
	overflow: scroll;
}

body {
	margin: 8px;
	overflow: scroll;
}

h1 {
	color: var(--c1);
}
h2 {
	color: var(--c2);
}
h3 {
	color: var(--c3);
}
h4 {
	color: var(--c4);
}
a {
	color: var(--white);
}
a:hover {
	color: var(--c2);
}

input,
button {
	font-family: inherit;
	font-size: 16px;
}
