@import 'tailwindcss';

:root {
	--box-shadow-x: 4px;
	--box-shadow-y: 4px;
	--border: var(--color-zinc-950);
	--shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--color-zinc-950);

	--bg: #011018;
	--c1: #dafdba;
	--c2: #9aeba3;
	--c3: #45c4b0;
	--c4: #13678a;
	--c5: #053c52;
	--c6: #012030;
}

@theme {
	--breakpoint-xs: 380px;

	--color-bg2: rgb(39, 39, 51);
	--color-bg: var(--bg);
	--color-c1: var(--c1);
	--color-c2: var(--c2);
	--color-c3: var(--c3);
	--color-c4: var(--c4);
	--color-c5: var(--c5);
	--color-c6: var(--c6);

	--shadow-shadow: var(--shadow);
	--shadow-big: 12px 12px 0px 0px var(--border);
	--text-shadow-big: 12px 12px 0px var(--border);
	--text-shadow-md: 4px 4px 0px var(--border);
	--drop-shadow-big: 12px 12px 0px var(--border);
	--drop-shadow-sm: 4px 4px 0px var(--border);
	--drop-shadow-md: 8px 8px 0px var(--border);
}

@layer base {
}

svg#shawn-head {
	.lens {
		@apply transition-colors;
		fill: var(--c2);
	}
	.highlight {
		@apply transition-colors;
		fill: var(--c3);
	}
	.streaks {
		@apply transition-colors;
		fill: #5c5c5c;
	}
}
svg#shawn-head:hover {
	.lens {
		fill: var(--c3);
	}
	.highlight {
		fill: var(--c1);
	}
}
svg#shawn-head:active {
	.lens {
		fill: var(--color-red-500);
	}
	.highlight {
		fill: var(--color-orange-600);
	}
	.streaks {
		fill: var(--color-rose-600);
	}
}
